workflows/01-newsletter-pipeline.json
{
  "name": "01 - Newsletter Pipeline (Diário 15h)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 * * *"
            }
          ]
        }
      },
      "id": "schedule-newsletter",
      "name": "Diário às 15h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_NEWSLETTER_DB_ID }}",
        "returnAll": false,
        "limit": 30,
        "options": {}
      },
      "id": "notion-get-previous",
      "name": "Notion: Edições Anteriores",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const previousTopics = [];\nfor (const item of items) {\n  const props = item.json.properties || {};\n  const titleArr = props.Name?.title || [];\n  if (titleArr.length > 0) previousTopics.push(titleArr[0].plain_text);\n  const topicsArr = props.Topics?.multi_select || [];\n  for (const t of topicsArr) previousTopics.push(t.name);\n}\nconst uniqueTopics = [...new Set(previousTopics)];\nconst today = new Date().toLocaleDateString('pt-BR');\n\nconst systemPrompt = [\n  'Você é um curador de notícias especializado em Inteligência Artificial e Tecnologia.',\n  'Sua missão é identificar os 10 acontecimentos mais relevantes e impactantes das últimas 24 a 48 horas.',\n  'Foque APENAS em fatos concretos e verificáveis — não inclua rumores ou especulações.',\n  'Priorize: lançamentos de modelos de IA, atualizações de produtos, aquisições, parcerias estratégicas,',\n  'pesquisas publicadas, mudanças regulatórias e marcos tecnológicos.'\n].join(' ');\n\nconst userPrompt = [\n  'Data de hoje: ' + today,\n  '',\n  'Identifique os 10 tópicos mais relevantes das últimas 24-48 horas em IA e tecnologia.',\n  '',\n  'Categorias aceitas: IA, Cloud, Dev, Negócios, Regulação',\n  '',\n  'Tópicos já cobertos anteriormente (EVITAR repetição):',\n  uniqueTopics.length > 0 ? uniqueTopics.join(', ') : 'Nenhum registro anterior',\n  '',\n  'Retorne APENAS um JSON válido sem markdown, no formato:',\n  '{',\n  '  \"topics\": [',\n  '    {',\n  '      \"title\": \"Título conciso do acontecimento\",',\n  '      \"category\": \"IA|Cloud|Dev|Negócios|Regulação\",',\n  '      \"summary\": \"1-2 frases objetivas sobre o que aconteceu\"',\n  '    }',\n  '  ]',\n  '}'\n].join('\\n');\n\nreturn [{\n  json: {\n    previousTopics: uniqueTopics,\n    requestBody: {\n      model: 'gpt-4o',\n      temperature: 0.7,\n      max_tokens: 4000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "code-prepare-topics",
      "name": "Preparar Prompt: Tópicos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "openai-topics",
      "name": "OpenAI: Descobrir Tópicos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\nconst content = response.choices[0].message.content;\nlet topicsData;\ntry {\n  topicsData = JSON.parse(content);\n} catch (e) {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  topicsData = jsonMatch ? JSON.parse(jsonMatch[0]) : { topics: [] };\n}\n\nconst topics = topicsData.topics || [];\nconst topicsSummary = topics.map((t, i) =>\n  (i + 1) + '. [' + t.category + '] ' + t.title + ' — ' + t.summary\n).join('\\n');\n\nconst systemPrompt = [\n  'Você é um pesquisador investigativo de tecnologia com acesso a conhecimento atualizado.',\n  'Para cada tópico fornecido, elabore uma pesquisa aprofundada e factual.',\n  'Inclua contexto histórico, impacto no mercado, players envolvidos e referências de fontes',\n  'como TechCrunch, The Verge, MIT Technology Review, Ars Technica e blogs oficiais.'\n].join(' ');\n\nconst userPrompt = [\n  'Faça deep research sobre cada um dos tópicos abaixo.',\n  '',\n  'TÓPICOS:',\n  topicsSummary,\n  '',\n  'Para CADA tópico, forneça:',\n  '- detailed_summary: Resumo detalhado (3-4 parágrafos)',\n  '- historical_context: Contexto histórico relevante',\n  '- market_impact: Impacto no mercado e na indústria',\n  '- key_players: Empresas e pessoas envolvidas',\n  '- sources: Lista de fontes reais (URLs quando possível)',\n  '',\n  'Retorne APENAS JSON válido sem markdown:',\n  '{',\n  '  \"research\": [',\n  '    {',\n  '      \"title\": \"...\",',\n  '      \"category\": \"...\",',\n  '      \"detailed_summary\": \"...\",',\n  '      \"historical_context\": \"...\",',\n  '      \"market_impact\": \"...\",',\n  '      \"key_players\": [\"...\"],',\n  '      \"sources\": [\"...\"]',\n  '    }',\n  '  ]',\n  '}'\n].join('\\n');\n\nreturn [{\n  json: {\n    topics: topics,\n    requestBody: {\n      model: 'gpt-4o',\n      temperature: 0.5,\n      max_tokens: 10000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "code-prepare-research",
      "name": "Preparar Prompt: Pesquisa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "openai-research",
      "name": "OpenAI: Deep Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\nconst content = response.choices[0].message.content;\nlet researchData;\ntry {\n  researchData = JSON.parse(content);\n} catch (e) {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  researchData = jsonMatch ? JSON.parse(jsonMatch[0]) : { research: [] };\n}\n\nconst research = researchData.research || [];\nconst today = new Date().toLocaleDateString('pt-BR', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'\n});\n\nconst researchText = research.map(r => [\n  '## ' + r.title + ' [' + r.category + ']',\n  '',\n  '### Resumo',\n  r.detailed_summary,\n  '',\n  '### Contexto Histórico',\n  r.historical_context,\n  '',\n  '### Impacto no Mercado',\n  r.market_impact,\n  '',\n  '### Players Envolvidos',\n  (r.key_players || []).join(', '),\n  '',\n  '### Fontes',\n  (r.sources || []).join('\\n'),\n  ''\n].join('\\n')).join('\\n---\\n');\n\nconst systemPrompt = [\n  'Você é a Isis Alencastro, redatora da newsletter \"AI Pulse\" da IBACompany.',\n  '',\n  'IDENTIDADE E TOM:',\n  '- Escreva como uma profissional de tech que conversa com colegas no café.',\n  '- Você é curiosa, tem opiniões fortes (e não tem medo de expressá-las), e às vezes fica genuinamente surpresa ou frustrada com as notícias.',\n  '- Use dados concretos. Quando não tiver certeza, admita. Isso é humano.',\n  '- Misture frases curtas e diretas com explicações mais longas quando o assunto pede.',\n  '',\n  'REGRAS DE ESCRITA — HUMANIZAÇÃO (SEGUIR À RISCA):',\n  '',\n  'NUNCA use estas expressões (são marcas óbvias de texto gerado por IA):',\n  '- \"No cenário/contexto/panorama atual\"',\n  '- \"É importante destacar/ressaltar/salientar que\"',\n  '- \"Vale ressaltar/destacar/mencionar que\"',\n  '- \"Nesse/Neste contexto/sentido\"',\n  '- \"Diante disso/desse cenário\"',\n  '- \"Em suma\" / \"Em síntese\"',\n  '- \"Sem dúvida\" / \"Sem sombra de dúvida\"',\n  '- \"De forma significativa/expressiva\"',\n  '- \"Cabe destacar/mencionar\"',\n  '- \"É inegável que\"',\n  '- \"Em um mundo cada vez mais...\"',\n  '- \"Na era da/do...\"',\n  '- \"Revolucionário\" / \"Transformador\" / \"Disruptivo\"',\n  '- \"Ecossistema\" (fora de biologia)',\n  '- \"Navegando\" (uso metafórico)',\n  '- \"Jornada\" (quando não for viagem real)',\n  '- \"Crucial\" / \"Fundamental\" / \"Notável\" / \"Notavelmente\"',\n  '- \"Ademais\" / \"Impulsionado por\" / \"De ponta\"',\n  '- Começar parágrafos com \"Além disso,\" / \"Portanto,\" / \"Contudo,\" / \"Todavia,\" / \"Entretanto,\"',\n  '- \"Paisagem\" ou \"landscape\" (uso metafórico sobre mercado)',\n  '- \"Abraçar\" (quando não for abraço físico)',\n  '',\n  'FAÇA ISTO EM VEZ DISSO:',\n  '- Comece parágrafos de formas variadas: com o fato direto, uma pergunta, uma reação pessoal, um dado.',\n  '- Use \"E\" e \"Mas\" pra começar frases — gente real faz isso.',\n  '- Inclua reações genuínas: \"Confesso que não esperava\", \"Olha, faz sentido quando a gente para pra pensar\", \"Isso me pegou de surpresa\".',\n  '- Varie o tamanho dos parágrafos. Um de uma linha só. Outro de três frases longas.',\n  '- Use parênteses pra apartes (como quem pensa em voz alta).',\n  '- Faça perguntas retóricas ao leitor.',\n  '- Prefira números específicos: \"37%\" é melhor que \"aumento expressivo\".',\n  '- Use fragmentos de frase por estilo. Assim.',\n  '- Não termine todos os parágrafos com frase de arremate.',\n  '- Evite que todas as listas tenham exatamente 3 ou 5 itens.',\n  '- Varie a estrutura: nem toda notícia precisa do mesmo formato.',\n  '- Contrações informais são bem-vindas: \"pra\", \"tá\", \"né\".',\n  '- Referências a coisas do cotidiano e cultura pop são ótimas quando cabem.'\n].join('\\n');\n\nconst userPrompt = [\n  'Escreva a edição de hoje (' + today + ') da newsletter AI Pulse.',\n  '',\n  'PESQUISA BASE:',\n  researchText,\n  '',\n  'A NEWSLETTER DEVE SER DIVIDIDA EM 3 PARTES (publicáveis separadamente):',\n  '',\n  'PARTE 1 — RADAR (leitura rápida, ~2 min):',\n  '- Título próprio desta parte',\n  '- Abertura pessoal da Isis (2-3 frases, como quem acabou de sentar com o café)',\n  '- 5-7 notícias em formato telegráfico: título + 2-3 frases de contexto cada',\n  '- Cada notícia com uma frase curta de impacto no final (varie o formato — nada de \"Por que isso importa\" repetido em todas)',\n  '- Fechamento rápido provocando curiosidade pra Parte 2',\n  '',\n  'PARTE 2 — DEEP DIVE (leitura média, ~5 min):',\n  '- Título próprio desta parte',\n  '- Pegue 2-3 notícias do Radar e aprofunde de verdade',\n  '- 3-4 parágrafos por tema com contexto, dados concretos e análise',\n  '- Opinião pessoal da Isis em pelo menos um dos temas',\n  '- Transições naturais entre os temas (não mecânicas)',\n  '- Fechamento que prepara terreno pra Parte 3',\n  '',\n  'PARTE 3 — PERSPECTIVA (leitura longa, ~4 min):',\n  '- Título próprio desta parte',\n  '- O tema mais relevante do dia vira mini-ensaio de opinião',\n  '- 4-6 parágrafos conectando com tendências maiores e a realidade de quem trabalha com tech no Brasil',\n  '- Termine com reflexão aberta — NÃO amarre tudo em um laço bonito. Deixe o leitor pensando.',\n  '- Despedida pessoal da Isis (como se falasse com um amigo)',\n  '',\n  'REGRA FINAL: Releia o que escreveu. Se alguma frase soa como \"uma IA escreveu isso\", reescreva com mais personalidade e imperfeição humana.',\n  '',\n  'Retorne APENAS JSON válido:',\n  '{',\n  '  \"title\": \"Título geral da edição\",',\n  '  \"parts\": [',\n  '    {',\n  '      \"part_number\": 1,',\n  '      \"part_title\": \"Radar — Título curto e chamativo\",',\n  '      \"content\": \"Conteúdo completo em texto corrido (use \\\\n para quebras de linha)\",',\n  '      \"reading_time_minutes\": 2',\n  '    },',\n  '    {',\n  '      \"part_number\": 2,',\n  '      \"part_title\": \"Deep Dive — Título curto e chamativo\",',\n  '      \"content\": \"Conteúdo completo da Parte 2\",',\n  '      \"reading_time_minutes\": 5',\n  '    },',\n  '    {',\n  '      \"part_number\": 3,',\n  '      \"part_title\": \"Perspectiva — Título curto e chamativo\",',\n  '      \"content\": \"Conteúdo completo da Parte 3\",',\n  '      \"reading_time_minutes\": 4',\n  '    }',\n  '  ],',\n  '  \"topics_covered\": [\"lista\", \"de\", \"tópicos\", \"cobertos\"]',\n  '}'\n].join('\\n');\n\nreturn [{\n  json: {\n    research: research,\n    requestBody: {\n      model: 'gpt-4o',\n      temperature: 0.75,\n      max_tokens: 16000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "code-prepare-newsletter",
      "name": "Preparar Prompt: Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 180000
        }
      },
      "id": "openai-newsletter",
      "name": "OpenAI: Escrever Newsletter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\nconst content = response.choices[0].message.content;\nlet newsletter;\ntry {\n  newsletter = JSON.parse(content);\n} catch (e) {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  newsletter = jsonMatch ? JSON.parse(jsonMatch[0]) : {};\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\nconst parts = newsletter.parts || [];\n\nlet htmlContent = '<h1>' + (newsletter.title || 'AI Pulse') + '</h1>';\nfor (const part of parts) {\n  htmlContent += '<div style=\"margin: 30px 0;\">';\n  htmlContent += '<h2>' + part.part_title + '</h2>';\n  htmlContent += '<p style=\"color: #666; font-size: 14px;\"><em>~' + part.reading_time_minutes + ' min de leitura</em></p>';\n  htmlContent += '<div>' + (part.content || '').replace(/\\n/g, '<br>') + '</div>';\n  htmlContent += '</div><hr>';\n}\n\nlet markdownContent = '# ' + (newsletter.title || 'AI Pulse') + '\\n\\n';\nfor (const part of parts) {\n  markdownContent += '## ' + part.part_title + '\\n';\n  markdownContent += '*~' + part.reading_time_minutes + ' min de leitura*\\n\\n';\n  markdownContent += (part.content || '') + '\\n\\n---\\n\\n';\n}\n\nlet emailHtml = '<div style=\"font-family: -apple-system, BlinkMacSystemFont, sans-serif; max-width: 620px; margin: 0 auto; padding: 20px;\">';\nemailHtml += '<h1 style=\"color: #1a1a2e; border-bottom: 3px solid #6366f1; padding-bottom: 10px;\">Nova Edição: ' + (newsletter.title || 'AI Pulse') + '</h1>';\nemailHtml += '<p style=\"color: #444; font-size: 16px;\">Uma nova edição da AI Pulse foi gerada e aguarda sua aprovação.</p>';\nemailHtml += '<h2 style=\"color: #6366f1; margin-top: 25px;\">Preview das Partes:</h2>';\nfor (const part of parts) {\n  const preview = (part.content || '').substring(0, 280).replace(/\\n/g, ' ');\n  emailHtml += '<div style=\"border-left: 4px solid #6366f1; padding: 10px 15px; margin: 15px 0; background: #f8f9fa; border-radius: 0 6px 6px 0;\">';\n  emailHtml += '<h3 style=\"margin: 0 0 5px 0; color: #1a1a2e;\">' + part.part_title + '</h3>';\n  emailHtml += '<p style=\"color: #888; margin: 0 0 8px 0; font-size: 13px;\">~' + part.reading_time_minutes + ' min de leitura</p>';\n  emailHtml += '<p style=\"color: #555; margin: 0; line-height: 1.5;\">' + preview + '...</p>';\n  emailHtml += '</div>';\n}\nemailHtml += '<hr style=\"margin: 35px 0; border: none; border-top: 1px solid #ddd;\">';\nemailHtml += '<div style=\"text-align: center;\">';\nemailHtml += '<a href=\"[APPROVE_URL]\" style=\"display: inline-block; background: #22c55e; color: white; padding: 14px 40px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 16px; margin: 8px;\">Aprovar e Publicar</a>';\nemailHtml += '<a href=\"[REJECT_URL]\" style=\"display: inline-block; background: #ef4444; color: white; padding: 14px 40px; text-decoration: none; border-radius: 8px; font-weight: bold; font-size: 16px; margin: 8px;\">Rejeitar</a>';\nemailHtml += '</div>';\nemailHtml += '<p style=\"text-align: center; color: #aaa; margin-top: 20px; font-size: 12px;\">O conteúdo completo está no Notion com status \"Aguardando Aprovação\".</p>';\nemailHtml += '</div>';\n\nreturn [{\n  json: {\n    title: newsletter.title || 'AI Pulse - ' + today,\n    date: today,\n    htmlContent: htmlContent,\n    markdownContent: markdownContent,\n    topicsCovered: newsletter.topics_covered || [],\n    newsletterData: newsletter,\n    parts: parts,\n    emailHtml: emailHtml,\n    status: 'Aguardando Aprovação'\n  }\n}];"
      },
      "id": "code-format-output",
      "name": "Formatar Newsletter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $env.NOTION_NEWSLETTER_DB_ID }}",
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Aguardando Aprovação"
            },
            {
              "key": "Data|date",
              "date": "={{ $json.date }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.markdownContent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-save-newsletter",
      "name": "Notion: Salvar Newsletter",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        2500,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.APPROVAL_EMAIL }}",
        "toEmail": "={{ $env.APPROVAL_EMAIL }}",
        "subject": "={{ 'AI Pulse — Aprovar edição: ' + $('Formatar Newsletter').item.json.title }}",
        "emailType": "html",
        "html": "={{ $('Formatar Newsletter').item.json.emailHtml.replace('[APPROVE_URL]', $execution.resumeUrl + '?approved=true').replace('[REJECT_URL]', $execution.resumeUrl + '?approved=false') }}",
        "options": {}
      },
      "id": "email-send-approval",
      "name": "Email: Pedido de Aprovação",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2750,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "id": "wait-approval",
      "name": "Aguardar Aprovação",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3000,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.query.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "if-approved",
      "name": "Aprovado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.beehiiv.com/v2/publications/{{ $env.BEEHIIV_PUBLICATION_ID }}/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  title: $('Formatar Newsletter').item.json.title,\n  subtitle: 'AI Pulse - Newsletter diária de IA e Tecnologia',\n  content: $('Formatar Newsletter').item.json.htmlContent,\n  status: 'draft'\n}) }}",
        "options": {}
      },
      "id": "beehiiv-publish",
      "name": "Beehiiv: Publicar Newsletter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "beehiiv-cred",
          "name": "Beehiiv API"
        }
      }
    }
  ],
  "connections": {
    "Diário às 15h": {
      "main": [
        [
          {
            "node": "Notion: Edições Anteriores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Edições Anteriores": {
      "main": [
        [
          {
            "node": "Preparar Prompt: Tópicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt: Tópicos": {
      "main": [
        [
          {
            "node": "OpenAI: Descobrir Tópicos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Descobrir Tópicos": {
      "main": [
        [
          {
            "node": "Preparar Prompt: Pesquisa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt: Pesquisa": {
      "main": [
        [
          {
            "node": "OpenAI: Deep Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Deep Research": {
      "main": [
        [
          {
            "node": "Preparar Prompt: Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt: Newsletter": {
      "main": [
        [
          {
            "node": "OpenAI: Escrever Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Escrever Newsletter": {
      "main": [
        [
          {
            "node": "Formatar Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Newsletter": {
      "main": [
        [
          {
            "node": "Notion: Salvar Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Salvar Newsletter": {
      "main": [
        [
          {
            "node": "Email: Pedido de Aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email: Pedido de Aprovação": {
      "main": [
        [
          {
            "node": "Aguardar Aprovação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Aprovação": {
      "main": [
        [
          {
            "node": "Aprovado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aprovado?": {
      "main": [
        [
          {
            "node": "Beehiiv: Publicar Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "newsletter"
    },
    {
      "name": "automação"
    }
  ],
  "pinData": {}
}