workflows/02-instagram-content.json
{
  "name": "02 - Instagram IBACompany (Diário 15h30)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 15 * * *"
            }
          ]
        }
      },
      "id": "schedule-instagram",
      "name": "Diário às 15h30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_NEWSLETTER_DB_ID }}",
        "returnAll": false,
        "limit": 1,
        "sort": {
          "sortValues": [
            {
              "key": "created_time",
              "value": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-get-newsletter",
      "name": "Notion: Última Newsletter",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const page = items[0].json;\nconst props = page.properties || {};\nconst title = props.Name?.title?.[0]?.plain_text || 'Newsletter do dia';\n\nlet pageContent = '';\nif (page.body) {\n  pageContent = page.body;\n} else if (page.content) {\n  pageContent = page.content;\n} else {\n  const allText = [];\n  for (const [key, val] of Object.entries(props)) {\n    if (val.rich_text) {\n      const texts = val.rich_text.map(t => t.plain_text).join('');\n      if (texts) allText.push(key + ': ' + texts);\n    }\n  }\n  pageContent = allText.join('\\n\\n');\n}\n\nconst systemPrompt = [\n  'Você é o social media da IBACompany no Instagram.',\n  'A IBACompany é a marca de desenvolvimento e IA da Isis Alencastro.',\n  'Seu estilo é: moderno, dados em destaque, emojis estratégicos, linguagem direta e impactante.',\n  'O objetivo de CADA post é gerar desejo pela newsletter paga \"AI Pulse\".',\n  'NUNCA entregue tudo que a newsletter entrega — mostre um recorte que desperte curiosidade.',\n  'O CTA sempre direciona para a assinatura da newsletter.'\n].join(' ');\n\nconst userPrompt = [\n  'NEWSLETTER DE HOJE:',\n  'Título: ' + title,\n  '',\n  pageContent,\n  '',\n  '---',\n  '',\n  'Com base na newsletter acima, crie 3 posts para o Instagram da IBACompany.',\n  '',\n  'REGRAS PARA CADA POST:',\n  '1. Extraia UM gancho específico da newsletter (uma notícia, dado ou insight)',\n  '2. Entregue um recorte de valor — o suficiente para impressionar, não para saciar',\n  '3. Termine com CTA forte para assinar a newsletter AI Pulse',\n  '',\n  'FORMATO DE CADA POST:',\n  '- hook: Primeira linha que para o scroll (máx 15 palavras, impactante)',\n  '- body: Corpo do post (máx 200 palavras, informativo e envolvente)',\n  '- cta: Chamada para ação direcionando à newsletter',\n  '- visual_json: JSON com instruções para design no Figma:',\n  '  { \"layout\": \"tipo\", \"highlight_data\": \"dado destaque\", \"colors\": [\"hex1\",\"hex2\"],',\n  '    \"emoji_accent\": \"emoji\", \"style\": \"moderno|tech|dados\" }',\n  '- hashtags: Array com 5-8 hashtags relevantes',\n  '- carousel_slides: Se for carrossel, array com texto de cada slide (3-7 slides)',\n  '',\n  'ESTILOS VISUAIS VARIADOS — use pelo menos 2 formatos diferentes entre:',\n  '- Carrossel educativo com dados',\n  '- Post único com dado impactante em destaque',\n  '- Formato \"breaking news\" para novidades quentes',\n  '',\n  'Retorne APENAS JSON válido:',\n  '{',\n  '  \"posts\": [',\n  '    {',\n  '      \"hook\": \"...\",',\n  '      \"body\": \"...\",',\n  '      \"cta\": \"...\",',\n  '      \"visual_json\": { ... },',\n  '      \"hashtags\": [\"...\"],',\n  '      \"format\": \"carousel|single|breaking\",',\n  '      \"carousel_slides\": [\"...\"] ',\n  '    }',\n  '  ]',\n  '}'\n].join('\\n');\n\nreturn [{\n  json: {\n    newsletterTitle: title,\n    requestBody: {\n      model: 'gpt-4o',\n      temperature: 0.8,\n      max_tokens: 6000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "code-prepare-ig",
      "name": "Preparar Prompt: Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "openai-instagram",
      "name": "OpenAI: Gerar Posts Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\nconst content = response.choices[0].message.content;\nlet postsData;\ntry {\n  postsData = JSON.parse(content);\n} catch (e) {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  postsData = jsonMatch ? JSON.parse(jsonMatch[0]) : { posts: [] };\n}\n\nconst posts = postsData.posts || [];\nconst today = new Date().toISOString().split('T')[0];\n\nreturn posts.map((post, index) => ({\n  json: {\n    title: post.hook,\n    body: post.body,\n    cta: post.cta,\n    visualJson: JSON.stringify(post.visual_json || {}),\n    hashtags: (post.hashtags || []).join(' '),\n    format: post.format || 'single',\n    carouselSlides: JSON.stringify(post.carousel_slides || []),\n    fullContent: post.hook + '\\n\\n' + post.body + '\\n\\n' + post.cta + '\\n\\n' + (post.hashtags || []).join(' '),\n    date: today,\n    postNumber: index + 1,\n    status: 'Revisar'\n  }\n}));"
      },
      "id": "code-parse-ig",
      "name": "Separar Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "={{ $env.NOTION_INSTAGRAM_DB_ID }}",
        "title": "={{ 'IG #' + $json.postNumber + ' - ' + $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Revisar"
            },
            {
              "key": "Data|date",
              "date": "={{ $json.date }}"
            },
            {
              "key": "Formato|select",
              "selectValue": "={{ $json.format }}"
            },
            {
              "key": "Hashtags|rich_text",
              "textContent": "={{ $json.hashtags }}"
            },
            {
              "key": "CTA|rich_text",
              "textContent": "={{ $json.cta }}"
            },
            {
              "key": "Visual JSON|rich_text",
              "textContent": "={{ $json.visualJson }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "type": "paragraph",
              "richText": false,
              "textContent": "={{ $json.fullContent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-save-ig",
      "name": "Notion: Salvar Post Instagram",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    }
  ],
  "connections": {
    "Diário às 15h30": {
      "main": [
        [
          {
            "node": "Notion: Última Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Última Newsletter": {
      "main": [
        [
          {
            "node": "Preparar Prompt: Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt: Instagram": {
      "main": [
        [
          {
            "node": "OpenAI: Gerar Posts Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Gerar Posts Instagram": {
      "main": [
        [
          {
            "node": "Separar Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Posts": {
      "main": [
        [
          {
            "node": "Notion: Salvar Post Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "instagram"
    },
    {
      "name": "automação"
    }
  ],
  "pinData": {}
}