workflows/04-youtube-monitor.json
{
  "name": "Gerador de ideias para vídeos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                3
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-youtube",
      "name": "Gerador automático",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": "={{ $env.NOTION_YOUTUBE_DB_ID }}",
        "options": {}
      },
      "id": "notion-get-yt-ideas",
      "name": "Notion: Ideias Existentes",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const existingIdeas = [];\nfor (const item of items) {\n  const props = item.json.properties || {};\n  const title = props.Name?.title?.[0]?.plain_text;\n  if (title) existingIdeas.push(title);\n}\nconst today = new Date().toLocaleDateString('pt-BR');\n\nconst systemPrompt = [\n  'Você é um assistente de estratégia de conteúdo para a criadora Isis Alencastro.',\n  'Isis é gestora de automações, desenvolvedora full-stack e analista de marketing.',\n  'Ela está construindo um canal no YouTube na interseção entre tecnologia, IA e desenvolvimento pessoal.',\n  '',\n  'FILOSOFIA CENTRAL DO CANAL — LEIA COM ATENÇÃO:',\n  'Isis NÃO é expert dando dicas. Isis é uma pessoa em evolução documentando sua jornada.',\n  'A diferença é fundamental:',\n  '- Expert diz \"faça assim\" → Isis diz \"eu tentei isso e aprendi tal coisa\"',\n  '- Expert ensina de cima → Isis caminha junto com o espectador',\n  '- Expert tem respostas → Isis tem perguntas honestas e descobertas reais',\n  'O canal é um diário público de crescimento — profissional E pessoal.',\n  'O espectador não sai com um tutorial. Sai sentindo que não está sozinho.',\n  '',\n  'POSICIONAMENTO CENTRAL DE ISIS:',\n  'Ela usa tecnologia como ferramenta de autoconhecimento, produtividade consciente',\n  'e construção de vida com propósito. Mostra a jornada REAL: acertos, erros, crises e viradas.',\n  'O tech é o contexto. O desenvolvimento pessoal é o coração do canal.',\n  '',\n  'PILARES DE CONTEÚDO (em ordem de prioridade):',\n  '1. EVOLUÇÃO DOCUMENTADA — mostrar quem ela era, quem está se tornando, o que mudou',\n  '2. AUTOCONHECIMENTO na jornada em tecnologia — o que aprender revela sobre si mesma',\n  '3. DESENVOLVIMENTO PESSOAL aplicado à vida de quem trabalha com tech',\n  '   — identidade profissional, síndrome do impostor, burnout, limites, propósito',\n  '4. PRODUTIVIDADE CONSCIENTE — sistemas que respeitam a vida, não apenas otimizam',\n  '5. IA & TECH como gatilho de reflexão pessoal — não como tema técnico isolado',\n  '',\n  'CANAIS DE REFERÊNCIA:',\n  '- pearlieee (video-ensaios intimistas, psicologia, autoconhecimento e healing com tom pessoal)',\n  '- Nathaniel Drew (video-ensaios introspectivos sobre identidade e mudança)',\n  '- Rowena Tsai (autodesenvolvimento, identidade, vida com propósito)',\n  '- For You From Eve (relacionamentos, limites, honestidade sem filtro)',\n  '- Tina Huang (data science, carreira em tech, perspectiva feminina e honesta)',\n  '- Fireship (tech trends, formato dinâmico — referência de ritmo)',\n  '- Theo t3.gg (opiniões fortes, building in public — referência de autenticidade)',\n  '- Ali Abdaal (estrutura e formato de vídeos longos — referência de produção)',\n  '',\n  'PÚBLICO-ALVO: profissionais de TI e devs que sentem que falta algo além do técnico,',\n  'pessoas em transição de carreira para tech, mulheres em tecnologia, curiosos sobre IA',\n  'que querem entender o impacto na vida humana — não só no mercado.'\n].join('\\n');\n\nconst userPrompt = [\n  'Data: ' + today,\n  '',\n  'Gere 5 ideias de vídeo para o canal da Isis Alencastro.',\n  '',\n  'REGRA PRINCIPAL: desenvolvimento pessoal deve ser o FIO CONDUTOR de cada ideia.',\n  'Tech e IA entram como contexto, gatilho ou ferramenta — nunca como foco exclusivo.',\n  '',\n  'REGRA DE VOZ — CRÍTICA:',\n  'Nenhuma ideia pode soar como \"aprenda X comigo\" ou \"dicas de Y\".',\n  'Toda ideia deve soar como \"isso aconteceu comigo e mudou algo\" ou \"estou descobrindo X e quero compartilhar\".',\n  'O título deve convidar para uma jornada, não prometer um tutorial.',\n  'Exemplos do que EVITAR: \"Como fazer X\", \"5 dicas para Y\", \"O guia definitivo de Z\"',\n  'Exemplos do que BUSCAR: \"O que X me ensinou sobre mim mesma\", \"Quando percebi que Z mudou tudo\",',\n  '\"Estou tentando X — o que aprendi até agora\", \"Por que parei de fazer Y (e o que isso revelou)\"',\n  '',\n  'IDEIAS JÁ EXISTENTES (evitar repetição):',\n  existingIdeas.length > 0 ? existingIdeas.join(', ') : 'Nenhuma ideia anterior registrada',\n  '',\n  'DISTRIBUIÇÃO DAS 5 IDEIAS:',\n  '- 2 ideias com foco em autoconhecimento/identidade/emoções (estilo pearlieee/Nathaniel Drew)',\n  '- 1 ideia sobre a jornada real de carreira — com erros, dúvidas e viradas',\n  '- 1 ideia sobre como Isis usa (ou tenta usar) tech/IA de forma mais consciente',\n  '- 1 ideia livre que conecte qualquer pilar com uma experiência pessoal marcante',\n  '',\n  'CRITÉRIOS PARA CADA IDEIA:',\n  '1. O título deve despertar curiosidade emocional, não apenas informacional',\n  '2. Deve haver um momento real e específico da vida da Isis que ancora o vídeo',\n  '3. O espectador deve sair sentindo algo — não apenas sabendo algo',\n  '4. Deve ser filmável solo com equipamento básico',\n  '5. Formatos preferidos: video-ensaio, storytelling pessoal, reflexão em voz alta, diário em vídeo',\n  '',\n  'Retorne APENAS JSON válido:',\n  '{',\n  '  \"ideas\": [',\n  '    {',\n  '      \"title_suggestion\": \"Título em português (convida para uma jornada, não promete tutorial)\",',\n  '      \"core_insight\": \"O insight ou virada central que ancora o vídeo\",',\n  '      \"isis_real_moment\": \"Qual momento ou experiência real da Isis serve de base para esse vídeo\",',\n  '      \"emotional_takeaway\": \"O que o espectador vai SENTIR ao terminar o vídeo\",',\n  '      \"original_inspiration\": \"Qual canal/tendência inspirou o formato ou tema\",',\n  '      \"target_audience\": \"Para quem esse vídeo fala especificamente\",',\n  '      \"estimated_length\": \"Duração estimada\",',\n  '      \"format\": \"video-ensaio|storytelling|reflexão|diário-em-vídeo|análise-pessoal\",',\n  '      \"hook_idea\": \"Como abrir o vídeo nos primeiros 30 segundos\",',\n  '      \"viral_potential\": \"Baixo|Médio|Alto\",',\n  '      \"authority_building\": \"Baixo|Médio|Alto\",',\n  '      \"keywords\": [\"palavra-chave1\", \"palavra-chave2\"]',\n  '    }',\n  '  ]',\n  '}'\n].join('\\n');\n\nreturn [{\n  json: {\n    existingIdeas: existingIdeas,\n    requestBody: {\n      model: 'gpt-4o',\n      temperature: 0.85,\n      max_tokens: 5000,\n      response_format: { type: 'json_object' },\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ]\n    }\n  }\n}];"
      },
      "id": "code-prepare-yt",
      "name": "Preparar Prompt: YouTube",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "openai-youtube",
      "name": "OpenAI: Gerar Ideias YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-cred",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = items[0].json;\nconst content = response.choices[0].message.content;\nlet ideasData;\ntry {\n  ideasData = JSON.parse(content);\n} catch (e) {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  ideasData = jsonMatch ? JSON.parse(jsonMatch[0]) : { ideas: [] };\n}\n\nconst ideas = ideasData.ideas || [];\nconst today = new Date().toISOString().split('T')[0];\n\nreturn ideas.map((idea, index) => ({\n  json: {\n    title: idea.title_suggestion,\n    inspiration: idea.original_inspiration || '',\n    isisAngle: idea.isis_angle || '',\n    targetAudience: idea.target_audience || '',\n    estimatedLength: idea.estimated_length || '',\n    format: idea.format || 'opinião',\n    hookIdea: idea.hook_idea || '',\n    viralPotential: idea.viral_potential || 'médio',\n    authorityBuilding: idea.authority_building || 'médio',\n    keywords: (idea.keywords || []).join(', '),\n    date: today,\n    ideaNumber: index + 1,\n    status: 'Ideia'\n  }\n}));"
      },
      "id": "code-parse-yt",
      "name": "Separar Ideias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": "={{ $env.NOTION_YOUTUBE_DB_ID }}",
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "={{ $json.status }}"
            },
            {
              "key": "Data|date",
              "date": "={{ $json.date }}"
            },
            {
              "key": "Formato|select",
              "selectValue": "={{ $json.format }}"
            },
            {
              "key": "Inspiração|rich_text",
              "textContent": "={{ $json.inspiration }}"
            },
            {
              "key": "Ângulo Isis|rich_text",
              "textContent": "={{ $json.isisAngle }}"
            },
            {
              "key": "Público-alvo|rich_text",
              "textContent": "={{ $json.targetAudience }}"
            },
            {
              "key": "Duração Estimada|rich_text",
              "textContent": "={{ $json.estimatedLength }}"
            },
            {
              "key": "Potencial Viral|select",
              "selectValue": "={{ $json.viralPotential }}"
            },
            {
              "key": "Keywords|rich_text",
              "textContent": "={{ $json.keywords }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {
              "textContent": "={{ '## Gancho\\n' + $json.hookIdea + '\\n\\n## Ângulo da Isis\\n' + $json.isisAngle + '\\n\\n## Inspiração\\n' + $json.inspiration }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notion-save-yt",
      "name": "Notion: Salvar Ideia YouTube",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1500,
        300
      ],
      "credentials": {
        "notionApi": {
          "id": "notion-cred",
          "name": "Notion"
        }
      }
    }
  ],
  "connections": {
    "Gerador automático": {
      "main": [
        [
          {
            "node": "Notion: Ideias Existentes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion: Ideias Existentes": {
      "main": [
        [
          {
            "node": "Preparar Prompt: YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt: YouTube": {
      "main": [
        [
          {
            "node": "OpenAI: Gerar Ideias YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI: Gerar Ideias YouTube": {
      "main": [
        [
          {
            "node": "Separar Ideias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Ideias": {
      "main": [
        [
          {
            "node": "Notion: Salvar Ideia YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "youtube"
    },
    {
      "name": "automação"
    }
  ],
  "pinData": {}
}